@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    @apply h-max w-max bg-[var(--btn-color)] px-6 pb-3.5 pt-3 text-xl leading-5 text-white transition-colors ease-in-out hover:bg-slate-400 active:bg-slate-300 disabled:bg-gray-300 disabled:text-gray-800;
    --btn-color: theme('colors.green.600');
}

.btn-outline {
    @apply border-2 border-[var(--btn-color)] bg-transparent text-[var(--btn-color)] hover:bg-slate-400/20 active:bg-slate-200/25 disabled:border-slate-600 disabled:bg-transparent;
}


.btn-dark {
    @apply hover:bg-slate-400 active:bg-slate-300;
    --btn-color: theme('colors.slate.500');
  }

.btn-outline.btn-dark {
    @apply hover:bg-slate-400/20 active:bg-slate-300/25;
}

.clip-image {
    width: 200px;
    height: 200px;
    /* background-image: url('path_to_your_image.jpg'); */
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
  }

